body {
    font-family: 'Barlow Semi Condensed', sans-serif !important;
    background:
    linear-gradient(27deg, #eaeaea 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #eaeaea 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #ddd 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #ddd 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #e4e4e4 10px, transparent 10px),
    linear-gradient(#e2e2e2 25%, #e5e5e5 25%, #e5e5e5 50%, transparent 50%, transparent 75%, #dbdbdb 75%, #dbdbdb);
    background-color: #ececec !important;
    background-size: 20px 20px;
}

.container {
    padding: 0 !important;
}

.logo {
    width: 6rem;
}

.mobile-logo {
    width: 5.5rem;
}

#navbar {
    position: sticky;
    top: 0;
    z-index: 20;
}

.nav-background {
    background-color: rgba(210, 210, 210, 1);
}

.navbar-brand {
    font-size: 1.5rem !important;
    font-weight: bold;
}

.mobile-navbar-brand {
    font-size: 1.4rem !important;
    font-weight: bold;
}

nav div {
    font-size: 1.2rem !important;
}

nav li {
    position: relative !important;
}

nav .nav-item::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav .nav-item:hover::before {
    width: 100%;
}

.btn {
    display:inline-block !important;
    border:0.1em solid #FFFFFF !important;
    border-radius:0.12em !important;
    box-sizing: border-box !important;
    text-decoration:none !important;
    font-weight:300 !important;
    color:#FFFFFF !important;
    text-align:center !important;
    transition: all 0.2s !important;
}

.btn:hover {
    color:#000000 !important;
    background-color:#FFFFFF !important;
}

.dropdown-item {
    font-size: 1.5rem;
}

.slider-img {
    filter: brightness(50%);
}

.img-mobile {
    height: 15rem;
}

.brighter {
    filter: brightness(125%);
}

.card {
    margin: 0 auto;
}

.title::after {
    content: '';
    background: black;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    height: .2rem;
    width: 6rem;
  }

  .center-title::after {
    content: '';
    background: black;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    height: .2rem;
    width: 10rem;
  }
  

.fa {
    font-size: 3rem;
}

.fas {
    font-size: 3rem;
}

.fab {
    font-size: 1.5rem;
}

.flight-icon {
    font-size: 1rem;
}

.bronze {
    color: #cd7f32;
}

.silver {
    color: #aaa9ad;
}

.gold {
    color: #ffd700;
}

footer {
    background-color: rgba(200, 200, 200, .75);
}

.filler {
    height: 5rem;
}

.footer-list {
    list-style: none;
}

.footer-list-item {
    text-decoration: none !important; 
    color: rgba(0, 0, 0, .5);
}

.footer-list-item:hover {
    color: #444;
}

